{
    "GetFakeThesisTitleCategoryFormat": {
        "DYNAMO_DB_CATEGORY_MASTER_TABLE" : ""
    },
    "GenerateFakeTable" : {
        "S3_BUCKET" : ""
    },
    "GenerateFakeGraph" : {
        "S3_BUCKET" : ""
    },
    "GenerateFakeFormula" : {
        "S3_BUCKET" : ""
    },
    "FakeThesisDataValidation" : {
        "WORKFLOW_EVENT_BUS_NAME" : ""
    },
    "FixFakeThesisData" : {
        "ANTHROPIC_API_URL" : "",
        "ANTHROPIC_API_KEY" : "",
        "ANTHROPIC_API_MODEL" : ""
    },
    "Test" : {
        "SQS_QUEUE_URL" : ""
    },
    "RequestGenerativeAiModelApi" : {
        "ANTHROPIC_API_URL" : "",
        "ANTHROPIC_API_KEY" : "",
        "ANTHROPIC_API_MODELTEST" : "",
        "ANTHROPIC_API_MODEL" : ""
    },
    "ConvertToPdf" : {
        "S3_BUCKET" : ""
    },
    "WorkflowProgressRecorder" : {
        "DYNAMO_DB_WORKFLOW_PROGRESS_TABLE" : ""
    },
    "WorkflowProgressNotifier" : {
        "NEXTJS_API_ENDPOINT" : ""
    }
}
